# Copy to .env or use directly with --dart-define-from-file
SUPABASE_URL=https://zbrlhswafnlpfwqikapu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpicmxoc3dhZm5scGZ3cWlrYXB1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg2MDkyMjEsImV4cCI6MjA3NDE4NTIyMX0.UZVKgCtV0j5MCpPymNnL1RkV_JQLQKwidOUud6Asn7M
REVENUECAT_PUBLIC_SDK_KEY_ANDROID=
REVENUECAT_PUBLIC_SDK_KEY_IOS=
FCM_SENDER_ID=
FIREBASE_ANDROID_APP_ID=
FIREBASE_IOS_APP_ID=
AI_BASE_URL=
